{% extends 'base.html.twig' %}

{% block title %}New password{% endblock %}

{% block nav %}
    {% include('Security/nav-security.html.twig') %}
{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey }}
        </div>
    {% endif %}

    <div class="container formSecurity">
        <legend class="text-center">Enter your new password</legend><br>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}

            <button type="submit" class="btn btn-primary center">Change password!</button>
        {{ form_end(form) }}
    </div>


{% endblock %}