{% extends 'base.html.twig' %}

{% block title %}Quiz index{% endblock %}

{% block body %}

    <div class="container">
        <h1>Quiz Create</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Percentage correctness to win</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for quiz in quizzes %}
                <tr>
                    <td>{{ quiz.id }}</td>
                    <td>{{ quiz.title }}</td>
                    <td>{{ quiz.percentageCorrectnessToWin }}</td>
                    <td>
                        <a href="{{ path('quiz_show', {'id': quiz.id}) }}" class="btn btn-outline-secondary btn-sm">show</a>
                        <a href="{{ path('quiz_edit', {'id': quiz.id}) }}" class="btn btn-outline-secondary btn-sm">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container text-center">
        <a href="{{ path('quiz_new') }}" class="btn btn-outline-primary">Create new</a>
    </div>

    <div class="container-fluid navigation">
        {{ knp_pagination_render(quizzes) }}
    </div>

{% endblock %}