{% extends 'base.html.twig' %}

{% block title %}Quizzes{% endblock %}

{% block body %}

    <div class="container">
        <h1>All quizzes</h1>

        <table id="quiz" class="table">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(quizzes, 'Name', 'name') }}</th>
                <th>{{ knp_pagination_sortable(quizzes, 'Birthtime', 'createdate') }}</th>
                <th>Top player</th>
                {% if app.user.roles==["ROLE_ADMIN"] %}
                    <th>{{ knp_pagination_sortable(quizzes, 'Status', 'isactive') }}</th>
                {% endif %}
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for quiz in quizzes if (app.user.roles==["ROLE_ADMIN"])
                                   or (app.user.roles==["ROLE_USER"]
                                   and quiz.isActive) %}
                <tr>
                    <td>{{ quiz.name }}</td>
                    <td>{{ quiz.createData|date("F jS \\a\\t g:ia") }}</td>
                    <td>
                        {% if quiz.rating %}
                            {% for key, rate in quiz.rating|sort|reverse %}
                                {% if loop.first %}
                                    <span style="color:{% if key == app.user.username %}red{% endif %}">{{ key }}</span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    {%  if app.user.roles==["ROLE_ADMIN"] %}
                        <td>
                            {% if quiz.isActive %}
                                <a href="{{ path('reactiving_quiz', {'id': quiz.id}) }}" class="btn btn-outline-success btn-sm" data-id="{{ quiz.id }}">Active</a>
                            {% else %}
                                <a href="{{ path('reactiving_quiz', {'id': quiz.id}) }}" class="btn btn-outline-danger btn-sm" data-id="{{ quiz.id }}">Inactive</a>
                            {% endif %}
                        </td>
                    {% endif %}
                    <td>
                        <a href="{{ path('quiz_show', {'id': quiz.id}) }}" class="btn btn-success btn-sm">Play</a>
                        {%  if app.user.roles==["ROLE_ADMIN"] %}
                            <a href="{{ path('quiz_edit', {'id': quiz.id}) }}" class="btn btn-outline-warning btn-sm">Edit</a>
                            <a href="{#{{ path('deleting_quiz', {'id': quiz.id}) }}#}" class="btn btn-outline-secondary btn-sm" data-id="{{ quiz.id }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No Quiz found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    {%   if app.user.roles==["ROLE_ADMIN"] %}
        <div class="container text-center">
            <a href="{{ path('quiz_create') }}" class="btn btn-outline-primary">Create new</a>
        </div>
    {% endif %}

    <div class="container-fluid navigation">
        {{ knp_pagination_render(quizzes) }}
    </div>

{% endblock %}