{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <div class="container">
        <h4>Welcome {{ app.user.username }}! Choose the quiz and test yourself!</h4>
    </div>

    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Percentage correctness to win</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for quiz in quizzes %}
                <tr>
                    <td>{{ quiz.title }}</td>
                    <td>{{ quiz.percentageCorrectnessToWin }}</td>
                    <td>
                        <a href="{{ path('solve_quiz_by_id', {'id': quiz.id}) }}" class="btn btn-outline-secondary btn-sm">solve!</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No quizzes found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container-fluid navigation">
        {{ knp_pagination_render(quizzes) }}
    </div>
{% endblock %}
