{% extends 'base.html.twig' %}

{% block title %}User control{% endblock %}

{% block body %}
    <div class="container">
        <h1>User table</h1>
        {% if users %}
            <table id="users" class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(users, 'Fullname', 'fullname') }}</th>
                    <th>{{ knp_pagination_sortable(users, 'Username', 'username') }}</th>
                    <th>{{ knp_pagination_sortable(users, 'Email', 'email') }}</th>
                    <th>{{ knp_pagination_sortable(users, 'Activity', 'activity') }}</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.fullname }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if user.activity %}
                                <a href="#" class="btn btn-success">Active</a>
                            {% else %}
                                <a href="#" class="btn btn-danger">Inactive</a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="#" class="btn btn-danger delete-user" data-id="{{ user.id }}">Delete</a>
                            {% if user.activity %}
                                <a href="#" class="btn btn-warning reactivate-user" data-id="{{ user.id }}">Reactivate</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="container-fluid navigation">
                {{ knp_pagination_render(users) }}
            </div>
        {% else %}
            <p>No users</p>
        {% endif %}
    </div>
{% endblock %}